/* Section: Why Book With Us */
.booking-reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efd6a7;
  border-radius: 20px;
  padding: 40px 20px;
  max-width: 1290px;
  margin-bottom: 20px;
}

.booking-reasons h2 {
  color: #31610d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.booking-reasons p.subtitle {
  color: #31610d;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.booking-reasons ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

.booking-reasons li {
  display: flex;
  
  margin-bottom: 10px;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.1px;
}

.booking-reasons li svg {
  flex-shrink: 0;
  margin-right: 20px;
  width: 41px;
  height: 42px;
}

@media (max-width: 768px) {
  .booking-reasons h2 {
    font-size: 28px;
  }
  .booking-reasons p.subtitle {
    font-size: 18px;
  }
  .booking-reasons li {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .booking-reasons li svg {
    width: 28px;
    height: 28px;
    margin-right: 12px;
  }
  .booking-reasons li {
    font-size: 18px;
  }
}


/* Section: How It Works */
.how-it-works {
  position: relative;
  background: #EFD6A7;
  border-radius: 20px;
  padding: 40px 20px;
  max-width: 1290px;
  margin: 40px auto;
}

.how-it-works h2 {
  color: #31610D;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.how-it-works p.subtitle {
  color: #31610D;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works .step {
  margin-bottom: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works .step h3 {
  font-size: 22px;
  color: #31610D;
  font-weight: 700;
  margin-bottom: 10px;
}

.how-it-works .step p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

@media (max-width: 768px) {
  .how-it-works h2 {
    font-size: 20px;
  }
  .how-it-works p.subtitle,
  .how-it-works .step p {
    font-size: 16px;
  }
  .how-it-works .step h3 {
    font-size: 22px;
  }
}

