//DB config
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=nananom

//Email config
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Nananom Farms"
