# Ignore PHP files
*.php

# Ignore HTML files
*.html

# Ignore CSS files
*.css

# Ignore JS files
*.js

# Ignore images
*.png
*.jpg
*.gif

# Ignore logs
logs

# Ignore vendor directory
vendor

# Ignore node_modules directory
node_modules

# Ignore composer.lock file
composer.lock

# Ignore .env file
.env
